//---Fonts-------------------
p {
    color: #b5b5b5;
}
p i {
    margin: 0 3px 5px 0;
}
.follow i{
    font-size: 30px;
    margin: 10px 10px 0 10px;
    position: absolute;
    left:-5px;
}
nav i{
    font-size: 20px;
    margin-bottom: 18px;
}
#small{
    margin: 0 0 40px 5px;
}
#big {
    font-size: 25px;
}
span {
    margin: 5px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #8BB488;
    font-family: Arial, Helvetica, sans-serif;
    margin: -5px 0 0 5px;
}
li a{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #979797;
}
.follow a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
}
h2 {
    margin: 0 0 0 3px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
}
.side h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 28px 0;
    font-weight: normal;
}
.follow_box h3{
    margin: 0 20px 10px -60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.follow_box p{
    color: rgb(107, 107, 107);
    margin: -5px 20px 0 -60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
}
#stile {
    margin: 3px 0 5px 3px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
#name {
    position: absolute;
    color:black;
    font-size: 18px;
    left: 60px;
    margin: -15px 0 0 -10px;
}
    
#nome{
    position: absolute;
    color: black;
    font-size: 18px;
    left: 40px;
    margin: 0 0 18px 5px;
} 
    
//----Style------------------
.flex {
    display: flex;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
#write {
    margin: 5px 10px 0 -5px;
    font-size: 15px;
    text-align: center;
}
#user {
    font-size: 30px;
    margin: 10px -5px 10px 15px;
}
#profile {
    margin: -8px -8px 15px 0;
    font-size: 30px;
}
.Left {
    position: absolute;
    left: 10px;
}
.right {
    position: absolute;
    right: 250px;
}
ul {
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    overflow-x: scroll;
}
li  {
  
    display: inline-block;
}
#bot{
    margin-bottom: 5px;
}
#up{
    margin-top: 15px;
}
#stat{
    margin-top: 15px;
}
header p:hover{
    color: #979797;
}
 i:hover{
    color: #979797;
    cursor: pointer;
    }
//---Sections---------------
body {
    margin: 0;
}
    
      
header {
    width: 100%;
    height: 3rem;
    background-color: white;
    border-bottom: solid 1px #dfdfdf;
}
main {
    display: flex;
    justify-content: center;
    margin: 0;
}
nav {
    display: flex;
    align-items: flex-end;
    height: 80px;
    width: 800px;
    margin-right: 100px;
    background-color: white;
    border-bottom: solid 1px #dfdfdf;
    position: sticky;
    top:0;
    z-index: 1;
}
   
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
 
    p{
        color: rgb(107, 107, 107);
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 18px;
        
    }
    i{
        font-size: 18px;
        color: rgb(107, 107, 107);
        text-align:start;
    }
    h3{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        
    }
    a{
        color: rgb(107, 107, 107);
        margin: 3px;
        font-size: 14px;
    }
}
        
    
        
        
        
::-webkit-scrollbar {
   visibility: hidden;
}
.side {
    
    width: 400px;
    height: 1500px;
    background-color: white;
    border-left: solid 1px #dfdfdf;
    padding:30px 0 0 40px;
    position:sticky;
    top:0;
}
.square{
    justify-content: space-between;
    margin: 0 0 60px 0;
    position: relative;
}
//-------Images---------------
i {
    margin: 12px;
    color: #b5b5b5;
}
.logo {
    margin: 10px;
    padding: 0;
    width: 200px;
    height: 120px;
}
.pic {
    position: absolute;
}
.photo {
    margin: 70px 0 50 0;
    width: 200px;
    height: 130px;
}
//----Buttons----------------
.search {
    width: 200px;
    height: 2.2rem;
    background-color: #faf7f7;
    border-radius: 40px;
}
.search_input{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(107, 107, 107);
    outline: none;
    border: none;
    background: transparent;
}
.user {
    position: absolute;
    right: 30px;
}
.chat {
    width: 600px;
    justify-content: space-between;
    margin: 0 0 -5px 0;
}
.rec{
    justify-content: center;
    align-items: center;
    background-color:#F2F2F2 ;
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
    font-size: 18px;
    margin: 8px 8px 8px 0px;
    border-radius: 30px;
    height: 55px;
    width: 160px;
}
.two{
    width: 190px;
}
.three{
    width: 150px;
}
.four{
    width: 120px;
}
  
.five{
    width: 140px;
} 
.six{
    width: 155px;
} 
.seven{
    width: 135px;
} 
.follow_btn{
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    background-color:white ;
    border: solid 2px black;
    margin: 10px 0 0 0;
    border-radius: 30px;
    height: 40px;
    width: 84px;
}
.follow_box{
   justify-content:space-around;
   margin: 10px 0 0 -5px;
}
//--Cards--------------------
.card {
    position: relative;
    height: 270px;
    width: 800;
    margin-right: 100px;
    border-bottom: solid 1px #dfdfdf;
}
.follow{
    display: flex;
    justify-content:center;
    position: relative;
    margin: 10px 0 10px 0;
    
}